<!-- {% extends 'store/main.html' %} 
{% block content %}
{% load static %}
    <div class="grid grid-rows-3 grid-cols-12">
        <div class="grid col-start-5 col-end-9 row-span-1 row-start-1 justify-items-center items-center">
            <img src="{% static '/images/contactus.svg' %}" alt="Contact">
        </div>
        <div class="card m-5 col-start-3 col-end-11 row-start-2 row-span-2">
            <form action="" method="POST" enctype="multipart/form-data" onsubmit="return validateContact(this)">
                <div class="grid row-start-2 grid-rows-6 grid-cols-2 py-5 gap-y-3"> 
                    {% csrf_token %}
                    <div class=" grid grid-cols-2 col-span-2"> 
                        <div class="col-start-1 px-10">
                            {{ form.firstName.label_tag }}
                            {{ form.firstName }} 
                        </div>
                        <div class="col-start-2 px-10">
                            {{ form.lastName.label_tag }}
                            {{ form.lastName }} 
                        </div>
                    </div>
                    <div class="col-span-2 px-10">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div> 
                    <div class="grid grid-cols-2 col-span-2">
                        <div class="col-start-1 px-10">
                            {{ form.contact.label_tag }}
                            {{ form.contact }}
                        </div>
                        <div class="col-start-2 px-10"> 
                            {{ form.typeOfMessage.label_tag }}<br>
                            {{ form.typeOfMessage }}
                       </div>
                    </div>  
                    <div class="row-span-2 px-10 col-span-2">
                        {{ form.message.label_tag }} 
                        {{ form.message }} 
                    </div>
                    <div class="grid justify-items-center items-center text-center col-span-2 row-span-1">
                        <input onclick="return validateContact()" class="bg-gray-500 text-black hover:text-white hover:bg-gray-800 p-3 rounded w-1/4 border-b-4 border-gray-700 hover:border-gray-500 focus:outline-none " type="submit" name="Submit">
                    </div>
               </div>
            </form>
        </div>
    </div> 
{% endblock %} -->