{% load static %}
<div class="relative">
    <button id="userBtn" class="col-start-1 bg-gray-900 text-white rounded-full p-2 hover:bg-black focus:outline-none w-10 h-10 grid items-center justify-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
    </button>
    <div id="dropdownList" class="absolute right-0 w-64 py-2 bg-gray-700 rounded-lg mt-1 hidden">
        {% comment %} {% if user.is_authenticated %}
        <a href="{% url 'profile' pk=user.pk %}" class="block px-4 py-2 hover:bg-gray-500">Profile</a>
        <a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-gray-500" >Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="block px-4 py-2 hover:bg-gray-500" >Login</a>
        <a href="{% url 'register' %}" class="block px-4 py-2 hover:bg-gray-500">Register</a>
        {% endif %} {% endcomment %}
    </div>
</div>

