{% extends 'store/main.html' %}

{% block content %}
{% load static %}


<h1 class="text-3xl text-center mt-8 mb-4">Enlist Your Products</h1>

{% include 'store/message.html' %}

{% if sellerDetail %}
<div class="md:mx-5">
    <div class="mx-auto max-w-2xl md:border md:rounded md:max-w-6xl">
        <div class="px-3 md:px-0">
            <h4 class="text-lg rounded-t px-4 py-3 text-center text-white bg-pallete-buttonPrimary lg:text-xl lg:tracking-wider">Choose appropriate type of product</h4>
        </div>
        <div class="px-3 md:px-0 md:grid md:grid-cols-2 md:grid-rows-2 md:items-start md:gap-x-5 md:m-5 lg:grid-cols-3">
            <div class="accordian shadow rounded md:col-start-1 md:row-start-1 md:row-end-2 md:my-3">
                <div class="border md:rounded-t">
                    <div class="btn flex items-center justify-between px-4 py-3 lg:cursor-pointer hover:bg-gray-100 transition-colors">
                        <h3 class="text-lg font-bold sm:text-xl">Books</h3>
                        <img class="chevron w-6" src="{% static 'images/chevron-down.svg' %}" alt="chevron">
                    </div>
                    <div class="panel px-4 md:hidden">
                        {% include 'store/form-book.html' %}
                    </div>
                </div>
            
            
                <div class="border">
                    <div class="btn flex items-center justify-between px-4 py-3 lg:cursor-pointer hover:bg-gray-100 transition-colors">
                        <h3 class="text-lg font-bold sm:text-xl">Instruments</h3>
                        <img class="chevron w-6" src="{% static 'images/chevron-down.svg' %}" alt="chevron">
                    </div>
                    <div class="panel px-4 md:hidden">
                        {% include 'store/form-instrument.html' %}
                    </div>
                </div>
                
        
                <div class="rounded-b border ">
                    <div class="btn flex items-center justify-between px-4 py-3 lg:cursor-pointer hover:bg-gray-100 transition-colors">
                        <h3 class="text-lg font-bold sm:text-xl">Labcoats</h3>
                        <img class="chevron w-6" src="{% static 'images/chevron-down.svg' %}" alt="chevron">
                    </div>
                    <div class="panel px-4 md:hidden">
                        {% include 'store/form-labcoat.html' %}
                    </div>
                </div>
            </div>
            <div class="opened md-form hidden md:block md:col-start-2 md:row-start-1 md:row-end-3 lg:col-span-2">
                {% include 'store/form-book.html' %}
            </div>
        </div>
    </div>
</div>

{% else %}

<h2>You will have to provide your contact number and nearest local train station for enlisting products.</h2>
<form action="{% url 'collect-user-data' %}" method="POST">
    {% csrf_token %}
    <label for="contact_user">Contact Number:</label><br>
    <input id="contact_user" name="contact_user" type="text"><br>
    <label for="location_user">Nearest Station:</label><br>
    <input id="location_user" name="location_user" type="text"><br>
    <input type="hidden" name="type" value="seller">
    <input type="submit"><br>
</form>
{% endif %}

<script>
    // const accordian = document.querySelector('.accordian');
    // Array.from(accordian.children).forEach(child => console.log(child.innerText));
    if(innerWidth >= 768) {
        let html= ''
        const accButtons = document.querySelectorAll('.btn')
        const mdForm = document.querySelector('.md-form')

        for (let i = 0; i < accButtons.length; i++) {
            accButtons[i].addEventListener('click', e => {
                console.log('Button Number:', i)
                //close accordian if any other accordian is open and rotate chevron
                if(mdForm.classList.contains('opened')) {
                    mdForm.innerHTML = ''
                    mdForm.classList.remove('opened')
                }
                switch (i) {
                    case 0:
                        html = `{% include 'store/form-book.html' %}`
                        mdForm.innerHTML = html
                        break;
                    case 1:
                        html = `{% include 'store/form-instrument.html' %}`
                        mdForm.innerHTML = html
                        break;

                    case 2:
                        html = `{% include 'store/form-labcoat.html' %}`
                        mdForm.innerHTML = html
                        break;
                }
                mdForm.classList.add('opened')
            })
        }
    }
</script>

{% endblock %}