{% extends 'store/main.html' %}
{% block content %}
{% load static %}
<h1 class="text-black text-6xl font-main text-center">Enlist</h1>


{% if sellerDetail %}
<form action="{% url 'enlist-books' %}" method="POST">
    {% csrf_token %}
    <label for="name_book">Book Name:</label><br>
    <input id="name_book" name="name_book" type="text"><br>
    <label for="name_author">Author Name:</label><br>
    <input id="name_author" name="name_author" type="text"><br>
    <label for="year_pub">Publication Year:</label><br>
    <input id="year_pub" name="year_pub" type="text"><br>
    <label for="price">Price</label><br>
    <input id="price" name="price" type="text"><br>
    <input type="submit"><br>
</form>


    

{% else %}

<h2>You will have to provide your contact number and nearest local train station for enlisting products.</h2>
    <form action="{% url 'collect-user-data' %}" method="POST">
        {% csrf_token %}
        <label for="contact_user">Contact Number:</label><br>
        <input id="contact_user" name="contact_user" type="text"><br>
        <label for="location_user">Nearest Station:</label><br>
        <input id="location_user" name="location_user" type="text"><br>
        <input type="hidden" name="type" value="seller">
        <input type="submit"><br>
    </form>


{% endif %}


<br>
<hr>
<br>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% endblock %}