{% load static %}
<footer class="bg-gray-900 text-white p-5 mt-8">
    <div class="grid grid-cols-12 justify-items-center items-center">
        <div class="col-start-2 col-end-5 row-start-1">
            <p>Our social media handles.</p>
            <div class="flex justify-center">
                <a class="mr-4" href="">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="mr-4" href="">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="mr-4" href="mailto:equipstattsec@gmail.com">
                    <i class="fa fa-envelope"></i>
                </a>
                <a class="mr-4" href="">
                    <i class="fa fa-whatsapp"></i>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-7 col-start-8 col-end-12 text-center gap-x-3">
            <a class="col-start-1 col-span-2 text-center border-white border-b-2 hover:text-gray-500 hover:border-gray-500"
                href="{% url 'contact' %}">Contact Us </a>
            <a class="col-start-3 col-span-2 text-center border-white border-b-2 hover:text-gray-500 hover:border-gray-500"
                href="{% url 'about' %}">About Us</a>
            <a class="col-start-5 col-span-3 border-white border-b-2 hover:text-gray-500 hover:border-gray-500"
                href="https://github.com/EquipstatTSEC/webstore"><i class="fa fa-github inline"></i> Source code</a>
        </div>
        <div class="grid col-start-6 col-end-8 row-start-1">
            <h1>&copy;Equipstat, 2020</h1>
        </div>
    </div>
</footer>