<footer class="bg-black text-center p-3 space-y-2 text-white absolute bottom-0 w-full h-20">
    <h6 class="text-lg font-medium">&copy;Equipstat, 2021</h6>
    <div class="ml-5">
        <a class="mr-4" href="">
            <i class="fa fa-twitter"></i>
        </a>
        <a class="mr-4" href="">
            <i class="fa fa-linkedin"></i>
        </a>
        <a class="mr-4" href="mailto:equipstattsec@gmail.com">
            <i class="fa fa-envelope"></i>
        </a>
        <a class="mr-4" href="">
            <i class="fa fa-whatsapp"></i>
        </a>
    </div>
</footer>