<form action="{% url 'enlist-books' %}" method="POST">
    {% csrf_token %}
    <div class="grid gap-y-4 py-1 md:gap-y-4">
        <div>
            <label class="sm:text-lg block" for="name_book">Book Name:</label>
            <input class="p-2 w-full rounded border border-gray-300 focus:outline-none focus:border-gray-400" id="name_book" name="name_book" type="text" placeholder="Eg:Applied Maths">
        </div>
        <div>
            <label class="sm:text-lg block" for="name_author">Author Name:</label>
            <input class="p-2 w-full rounded border border-gray-300 focus:outline-none focus:border-gray-400" id="name_author" name="name_author" type="text" placeholder="Eg:Kumbhojkar">
        </div>
        <div>
            <label class="sm:text-lg block" for="year_pub">Publication Year:</label>
            <input class="p-2 w-full rounded border border-gray-300 focus:outline-none focus:border-gray-400" id="year_pub" name="year_pub" type="text" placeholder="Eg:1990">
        </div>
        <div>
            <label class="sm:text-lg block" for="price">Price:</label>
            <input class="p-2 w-full rounded border border-gray-300 focus:outline-none focus:border-gray-400" id="price" name="price" type="text" placeholder="Eg:200">
        </div>
        <input class="p-2 rounded bg-pallete-buttonPrimary text-white font-medium text-xl" type="submit" value="Enlist">
    </div>
</form>