{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    
    <main class="space-y-9 mb-9">
        <div class="bg-black my-auto">
            <div class="max-w-sm mx-auto text-center py-20 px-3 sm:max-w-lg md:max-w-xl lg:max-w-2xl xl:max-w-3xl">
                <h1 class="text-4xl text-white font-black tracking-wider sm:text-4xl xl:text-5xl">Get ready to Equip yourself</h1>
                <h5 class="mt-8 text-xl text-white tracking-normal sm:text-2xl md:text-2xl xl:text-3xl">We provide products that Empower and Connect people with Community.</h5>
                <div class="mt-5 mx-4 space-y-3 md:space-x-4">
                    <a href="{% url 'enlist' %}" class="block md:inline-block">
                        <div class="bg-pallete-buttonPrimary focus:outline-none p-3 text-lg text-white rounded cursor-pointer shadow-lg font-medium md:text-xl">For Sellers</div>
                    </a>
                    <a href="" class="block md:inline-block">
                        <div class="bg-gray-50 rounded focus:outline-none p-3 text-lg cursor-pointer shadow-lg font-medium md:text-xl" href="">For Buyers</div>
                    </a>
                </div>
            </div>
        </div>

        <h4 class="text-center text-3xl font-bold">What we have for you?</h4>

        <div class="mx-6 space-y-7 md:space-y-0 grid md:grid-cols-2 lg:grid-cols-3 md:gap-5">
            <a href="{% url 'calculators' %}" class="grid justify-items-center gap-y-3 card p-5 xl:h-44">
                <img src="../static/images/newCalc.png" alt="Calculator" title="Calculator">
                <h6 class="text-xl font-medium xl:text-2xl">New Calculators<img class="ml-2 w-5 inline" src="../static/images/rightarrow.svg"></h6>
            </a>

            <a href="{% url 'instruments' %}" class="grid justify-items-center gap-y-3 card p-5 xl:h-44">
                <img src="../static/images/newIns.png" alt="New Instruments" title="New Instruments">
                <h6 class="text-xl font-medium xl:text-2xl">New Instruments<img class="ml-2 w-5 inline" src="../static/images/rightarrow.svg"></h6>
            </a>

            <a href="{% url 'refurbished-instruments' %}" class="grid justify-items-center gap-y-3 card p-5 xl:h-44">
                <img src="../static/images/refIns.png" alt="Refurbished Instruments" title="Refurbished Instruments">
                <h6 class="text-xl font-medium xl:text-2xl">Refurbished Instruments<img class="ml-2 w-5 inline" src="../static/images/rightarrow.svg"></h6>
            </a>

            <a href="{% url 'refurbished-labcoats' %}" class="grid justify-items-center gap-y-3 card p-5 xl:h-44">
                <img src="../static/images/refLabC.png" alt="Refurbished LabCoats" title="Refurbished LabCoats">
                <h6 class="text-xl font-medium xl:text-2xl">Refurbished Lab Coats<img class="ml-2 w-5 inline" src="../static/images/rightarrow.svg"></h6>
            </a>

            <a href="{% url 'refurbished-books' %}" class="grid justify-items-center gap-y-3 card p-5 xl:h-44">
                <img src="../static/images/refBook.png" alt="Refurbished Books" title="Refurbished Books">
                <h6 class="text-xl font-medium xl:text-2xl">Refurbished Books<img class="ml-2 w-5 inline" src="../static/images/rightarrow.svg"></h6>
            </a>
        </div>
    </main>

{% endblock %}