{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    
    <main class="space-y-9">
        <div class="relative bg-image">
            <div class="absolute inset-0 bg-black opacity-70">
                
            </div>
            <div class="relative inset-0 max-w-sm min-h-full mx-auto text-center py-20 px-3 sm:max-w-lg">
                <h1 class="text-4xl text-white font-black tracking-wider sm:text-5xl">Get ready to Equip yourself</h1>
                <h5 class="mt-8 text-2xl text-white tracking-normal sm:text-3xl">We provide products that Empower and Connect them with Community.</h5>
                <div class="mt-5 mx-4 space-y-3">
                    <a href="" class="block">
                        <div class="bg-pallete-buttonPrimary focus:outline-none p-3 text-lg text-white rounded cursor-pointer shadow-lg font-medium" href="">For Sellers</div>
                    </a>
                    <a href="" class="block">
                        <div class="bg-gray-50 rounded focus:outline-none p-3 text-lg cursor-pointer shadow-lg font-medium" href="">For Buyers</div>
                    </a>
                </div>
            </div>
        </div>

        <h4 class="text-center text-3xl font-bold">What we have for you?</h4>

        <div class="content mx-6 space-y-7">
            
        </div>
        <br>
    </main>

{% endblock %}