{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    
    <main class="space-y-9">
        <div class="relative bg-image">
            <div class="absolute inset-0 bg-black opacity-70">
                
            </div>
            <div class="max-w-sm min-h-full mx-auto text-center py-20 px-5">
                <h1 class="text-4xl text-white font-black tracking-wider">Get ready to Equip yourself</h1>
                <h5 class="mt-6 text-2xl text-white tracking-normal">We provide products that Empower and Connect them with Community.</h5>
                <div class="mt-4 space-y-7">
                    <div>
                        <a class="bg-pallete-buttonPrimary focus:outline-none p-3 text-lg text-white rounded cursor-pointer shadow-lg font-medium" href="">For Sellers</a>
                    </div>
                    <div>
                        <a class="bg-gray-50 rounded focus:outline-none p-3 text-lg cursor-pointer shadow-lg font-medium" href="">For Buyers</a>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-center text-3xl font-bold">What we have for you?</h4>

        <div class="mx-6 space-y-7 ">
            <div class="grid justify-items-center gap-y-3 card p-5">
                <img src="/static/images/newCalc.png" alt="Calculator" title="Calculator">
                <h6 class="text-xl font-medium">New Calculators</h6>
            </div>

            <div class="grid justify-items-center gap-y-3 card p-5">
                <img src="/static/images/newIns.png" alt="New Instruments" title="New Instruments">
                <h6 class="text-xl font-medium">New Instruments</h6>
            </div>

            <div class="grid justify-items-center gap-y-3 card p-5">
                <img src="/static/images/refIns.png" alt="Refurbished Instruments" title="Refurbished Instruments">
                <h6 class="text-xl font-medium">Refurbished Instruments</h6>
            </div>

            <div class="grid justify-items-center gap-y-3 card p-5">
                <img src="/static/images/refBook.png" alt="Refurbished Books" title="Refurbished Books">
                <h6 class="text-xl font-medium">Refurbished Books</h6>
            </div>

            <div class="grid justify-items-center gap-y-3 card p-5">
                <img src="/static/images/refLabC.png" alt="Refurbished LabCoats" title="Refurbished LabCoats">
                <h6 class="text-xl font-medium">Refurbished Instruments</h6>
            </div>
        </div>
        <br>
    </main>

{% endblock %}