{% load static %}
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static '/images/EquipStat.png' %}" type="image/png">
    <title>Equipstat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <script type="text/javascript">
        let loggedInUser = "{{ request.user }}"

        function getCSRF(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCSRF('csrftoken');
    </script>

</head>

<body class="font-Lato" onresize="changeLayout()">
    {% include 'store/nav.html' %}
    {% block content %}
    {% endblock %}
    {% include 'store/footer.html' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
    <script src="{% static '/js/message.js' %}"></script>
    <script src="{% static '/js/enlist.js' %}"></script>
    <script src="{% static '/js/profile.js' %}"></script>
    <script src="{% static '/js/homeCards.js' %}"></script>
    <script src="{% static '/js/checkout.js' %}"></script>
    <script src="{% static '/js/nav.js' %}"></script>
    <script src="{% static '/js/dropdown.js' %}"></script>
    <script src="{% static '/js/cart.js' %}"></script>
    <script src="{% static '/js/delete.js' %}"></script>
    <script src="{% static '/js/validation.js' %}"></script>
</body>

</html>