<header>
    <nav class="">
            <div class="p-3 nav-content flex justify-between items-center">
                <a href="/" class="text-3xl font-semibold">
                    Equipstat
                </a>
                <div class="hamburgur cursor-pointer">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                    <div class="bar-3"></div>
                </div>
            </div>
            <ul class="navItems hidden text-xl">
                <li class="border-t px-3 py-2 hover:bg-gray-100">
                    <div class="mobNew flex justify-between">
                        New
                        <img class="inline w-5" src="../static/images/chevron-down.svg">
                    </div>
                    <div class="hidden mobNewContent">
                        <a href="" class="m-2 block text-black hover:underline">
                            Calculator
                        </a>
                        <hr>
                        <a href="" class="m-2 block text-black hover:underline">
                            Instrument
                        </a>
                    </div>
                </li>
                <li class="border-t px-3 py-2 hover:bg-gray-100">
                    <div class="mobRef flex justify-between">
                        Refurbished<img class="inline w-5" src="../static/images/chevron-down.svg">
                    </div>
                    <div class="hidden mobRefContent">
                        <a href="" class="m-2 block text-black hover:underline">
                            Books
                        </a>
                        <hr>
                        <a href="" class="m-2 block text-black hover:underline">
                            Instruments
                        </a>
                        <hr>
                        <a href="" class="m-2 block text-black hover:underline">
                            Labcoats
                        </a>
                    </div>
                </li>
                <li class="border-t px-3 py-2">
                    <a href="{% url 'account_signup' %}" class="block"><i class="fa fa-user-plus"></i>&nbsp;Sign Up</a>
                </li>
                <li class="border px-3 py-2">
                    <a href="{% url 'account_login' %}" class="block"><i class="fa fa-sign-in"></i>&nbsp;Sign in</a>
                </li>
            </ul>
    </nav>
</header>