{% load static %}
<header>
    <nav class="p-3">
        <div class="">
            <div class="flex justify-between items-center p-1">
                <a href="" class="text-3xl font-semibold">
                    Equipstat
                </a>
                <div class="hamburgur">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                    <div class="bar-3"></div>
                </div>
            </div>
            <ul class="navItems hidden text-center text-2xl space-y-5 mt-5">
                <li>
                    <a href="">New Calculators</a>
                </li>
                <li>
                    <a href="">New Instruments</a>
                </li>
                <li>
                    <a href="">Refurbished Books</a>
                </li>
		<li>
                    <a href="">Refurbished Labcoats</a>
                </li>
		<li>
                    <a href="">Refurbished Instruments</a>
                </li>
                <li>
                    <a href="">Sign Up</a>
                </li>
                <li>
                    <a href="">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
</header>