{% extends 'store/main.html' %} 
{% block content %}
{% load static %}
    <h1 class="text-black text-6xl font-main text-center">Store</h1>
    <div class="grid grid-cols-3 gap-10 m-8">
        {% for product in newProducts %}
        <div class="card grid grid-rows-8 p-3 gap-y-2">
            <div class="grid justify-items-center items-center row-start-1 row-span-4 border-b-2 border-black">
                <img class="" src="{{ product.imageURL }}" alt="{{ product.name }}">
            </div>
            <div class="row-start-5 row-span-1 text-center text-2xl font-bold">
                {{ product.name }}
            </div>
            <div class="grid grid-cols-2 row-start-6 row-span-1 justify-items-center items-center text-xl">
                <span class="col-start-1 text-green-600">Price: <br> <span class="text-3xl">&#8377;{{ product.ourPrice }}</span></span>
                <span class="col-start-2 text-red-600">MRP: <br><span class="line-through text-3xl">&#8377;{{ product.mrp }}</span></span>
            </div>
            <div class="flex justify-around row-start-7 row-span-1 justify-items-center items-center focus:outline-none focus:shadow-myOutline">
                <a class="bg-gray-900 rounded text-white px-4 py-2" href="{{ product.slug }}">
                    <p class="">Detail View</p>
                </a>
                {% if user.is_authenticated %}
                        <button class="update-cart bg-gray-900 text-white rounded focus:outline-none focus:shadow-myOutline px-4 py-2" data-product="{{ product.id }}" data-action="add">
                            <svg class="mr-2 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.21 9l-4.38-6.56c-.19-.28-.51-.42-.83-.42-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1h-4.79zM9 9l3-4.4L15 9H9zm3 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                            <span class="">Add to cart</span>
                        </button>
                {% else %}  
                <a class="bg-gray-900 text-white rounded px-4 py-2" href="{% url 'login' %}">
                    Add to cart
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}nline