{% extends 'store/main.html' %} 
{% block content %}
    <div class="grid grid-cols-12 p-5">
        <div class="col-start-1 col-span-3">
            <a class="bg-gray-500 text-black text-center hover:text-white hover:bg-gray-800 px-2 py-3 rounded  border-b-4 border-gray-700 hover:border-gray-500 focus:outline-none focus:shadow-myOutline" href="{% url 'cart' %}">
                &#x2190; Go to Cart
            </a>
        </div>
    </div>
<br>
    <div class="grid grid-cols-12 grid-rows-5 px-5">
        <div class="card col-start-1 col-end-7 row-start-1 row-span-4 grid grid-rows-7 gap-y-5 p-5">
            <div class="row-start-1 row-span-1">
                <span class="">Order Summary:</span>
            </div>
            <div class="grid grid-cols-4 row-start-2 row-span-4 gap-y-4 justify-items-center items-center">
                <div class="grid justify-items-center items-center col-start-1 col-span-1">
                                
                </div>    
                <div class="grid items-center col-start-2 col-span-1">
                    <h1 class="text-xl font-extrabold capitalize">Product name</h1>
                </div>
                <div class="grid justify-items-center items-center col-start-3">
                    <h1 class="text-xl font-extrabold capitalize">Price</h1>
                </div>
                <div class="grid justify-items-center items-center col-start-4">
                    <h1 class="text-xl font-extrabold capitalize">Quantity</h1>
                </div>
                <hr class="col-span-4 w-full">
                {% for item in items %}
                <div class="col-start-1 col-span-1">
                    <img class="w-12" src="{{ item.product.imageURL }}" alt="">
                </div>
                <div class="col-start-2 col-span-1">
                    {{ item.product.name }}
                </div>
                <div class="col-start-3 col-span-1">
                    {{ item.product.ourPrice }}
                </div>
                <div class="col-start-4 col-span-1">
                    {{ item.quantity }}
                </div>
                    <hr class="w-full col-span-4">
                {% endfor %}
            </div>
        </div>
        <div class="grid grid-rows-2 card col-start-8 col-end-13 row-start-1 row-span-1 p-5 gap-y-3">
            <div class="row-start-1">
                Items: {{ order.get_cart_items }} <br>
                Amount: &#8377;{{ order.get_cart_total | floatformat:2 }}/-
            </div>
            <div class="flex row-start-2 justify-end">
                <button data-order="{{ order.id }}" data-total="{{ order.get_cart_total | floatformat:2 }}" type="button" class="checkout bg-gray-500 text-black hover:text-white hover:bg-gray-800 px-4 py-2 rounded  border-b-4 border-gray-700 hover:border-gray-500 focus:outline-none focus:shadow-myOutline">Place Order</button>
            </div>
        </div>
    </div>
{% endblock %}