{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div id="home-content" class="grid grid-cols-12 grid-rows-4 gap-y-5 text-4xl">
        <div class="grid row-span-1 col-start-2 col-end-6 mx-auto pt-4 items-end">
             <img class="images" src="{% static '/images/calculator.svg' %}" alt="Calculator">
        </div>
        <div class="my-12 text-black font-extrabold grid justify-items-center text-center col-start-8 col-end-12 row-span-1">
            <p class=""> Original University Approved Calculators @  unbelievable rates!!
               (Warranty cards included!)
            </p>
        </div>
        <div class="logo grid row-start-2 col-start-5 col-end-9 items-center text-center rounded-full my-10 bg-gray-900 text-gray-200 shadow-2xl">
            <div class="text-4xl px-10">
                Get ready to equip yourself for the semesters, with <span class="font-black font-main text-6xl p-0 m-0">EquipStat
</span>
            </div>
        </div>
        <div class="grid row-start-3 col-start-8 col-end-12 justify-items-center items-start">
            <img class="images" src="{% static '/images/chemistry.svg' %}" alt="Chemistry">
       </div>
        <div class="grid row-start-3 col-start-2 col-span-4 justify-items-center items-end text-center font-extrabold">
                Refurbished Lab Coats at cheaper rates works for both workshop as well as chemistry lab. 
        </div>
        <div class="images grid row-start-4 row-end-5 col-start-2 col-end-6 items-end">
            <img class="images" src="{% static 'images/books.svg' %}" alt="Books">
        </div>
        <div class="grid row-start-4 row-end-5 col-start-8 col-end-12 justify-items-center items-center font-extrabold text-center">
            Why buy new books when the older ones works just fine. Get them at cheaper rates only at EquipStat
        </div>
    </div>
{% endblock %}