{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div id="home-content" class="grid grid-cols-12 grid-rows-5 text-4xl">
        <div class="row-span-1 col-start-1 col-end-4 mx-auto py-4">
                <img src="{% static 'img/calc1.png' %}"  alt="Calculator">    
        </div>
        <div class="grid col-start-4 col-end-8 row-start-1 justify-items-center items-center">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="114.33566433566432 160.69930069930075 431.53846153846143 185.45454545454544" width="431.54" height="185.45"><defs><path d="M545.87 160.7C525.07 183.29 512.07 197.4 506.87 203.05C483.08 228.89 448.73 242.35 413.72 239.56C376.15 236.56 307.01 231.05 266.47 227.82C240.84 225.77 215.7 235.65 198.32 254.6C187.12 266.81 159.13 297.33 114.34 346.15" id="b57gy5ht6q"></path><path d="M537.55 198.74L545.87 160.7L507.83 170.21" id="a1YLXkQDQF"></path></defs><g><g><g><g><use xlink:href="#b57gy5ht6q" opacity="1" fill-opacity="0" stroke="#1a688f" stroke-width="6" stroke-opacity="1"></use></g></g><g><g><use xlink:href="#a1YLXkQDQF" opacity="1" fill-opacity="0" stroke="#1a688f" stroke-width="7" stroke-opacity="1"></use></g></g></g></g></svg>
        </div>
        <div class="my-12 text-black font-extrabold grid justify-items-center text-center col-start-8 col-end-12 row-span-1">
            <p class=""> Original University Approved Calculators @  unbelievable rates!!
               (Warranty cards included!)
            </p>
        </div>
        <div class="grid row-start-2 col-start-5 col-end-9 items-center text-center rounded-full my-10 bg-black text-gray-400 shadow-my">
            <div class="text-4xl px-10">
                Get ready to equip yourself for the semesters, with <span class="font-black font-main text-6xl p-0 m-0">EquipStat
</span>
            </div>
           
        </div>
        <div class="row-start-3 col-start-8 col-end-12 grid justify-items-center items-center">
            <img src="{% static 'img/lab1.png' %}" alt="Lab Coat">
       </div>
        <div class="grid row-start-4 col-start-2 col-span-4 justify-items-center text-center font-extrabold">
            Refurbished Lab Coats at cheaper rates works for both workshop as well as chemistry lab. 
        </div>

        <div class="grid row-start-5 row-end-6 col-start-2 col-end-6 justify-items-center">
            <img src="{% static 'img/books.png' %}" alt="">
        </div>
        <div class="grid row-start-5 row-end-6 col-start-8 col-end-12 items-end font-extrabold text-center">
            Why buy new books when the older ones works just fine. Get them at cheaper rates only at EquipStat
        </div>
    </div>
{% endblock %}