{% extends 'store/main.html' %} 
{% block content %}
{% load static %}
    <div class="grid grid-cols-12 grid-rows-5">
        <div class="grid grid-cols-4 grid-rows-3 col-start-2 col-end-6 row-start-1 row-end-2 justify-items-center items-center">
            <h1 class="row-start-1 row-end-3 col-start-1 col-end-3 text-gray-600 font-bold text-5xl">Login</h1>
            <span class="text-2xl row-start-3 row-end-4 col-start-2 col-end-5 italic underline text-gray-500">...to Equip Yourself</span>
        </div>
        <div class="grid items-center col-start-2 col-end-6 row-start-2 row-end-5">
            <img src="{% static '/images/login.svg' %}" alt="Login">
        </div>
        <div class="card col-start-8 col-end-11 row-start-2 row-end-5">
            <form action="" method="POST">
                <div class="grid grid-rows-3 items-center justify-items-center p-3 gap-y-2">
                    {% csrf_token %}
                    <div class="row-span-1 w-full px-3">
                        <label for="username">Username </label><br>
                        <input class="w-full bg-gray-500 text-gray-900 p-2 rounded placeholder-gray-700 focus:outline-none focus:shadow-myOutline" placeholder="John Doe" type="text" id="username" name="username">
                    </div>
                   <div class="row-span-1 w-full px-3">
                        <label for="password">Password </label><br>
                        <input class="w-full bg-gray-500 text-gray-900 p-2 rounded placeholder-gray-700 focus:outline-none focus:shadow-myOutline" placeholder="*******" type="password" id="password" name="password">
                   </div>
                    <div class="grid grid-rows-2 row-span-1">
                        <div class="grid grid-cols-3 justify-items-center row-span-1 pb-3 items-center gap-x-3">
                           <div class="grid col-start-1">
                             <input class=" bg-gray-500 text-black hover:text-white hover:bg-gray-800 px-3  py-1 rounded  border-b-4 border-gray-700 hover:border-gray-500 focus:outline-none focus:shadow-myOutline" type="submit" value="Login">
                           </div>
                           <div class="col-start-2 col-end-4 text-sm">
                             <a href="class=" text-black font-bold underline">Forgot password?</a>
                           </div>
                        </div>
                        <div class="grid justify-items-center text-xs row-span-1 pt-2">
                            <span>Don't have an account? <a class="text-black font-bold underline" href="{% url 'register' %}">Sign-up</a></span>  
                        </div>
                    </div>
                </div>
            </form>
       </div>
    </div>
{% for message in messages %}
<div class="message">
    {{message}}
</div>
{% endfor %}
{% endblock %}