{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static '/images/EquipStat.png' %}" type="image/png">
    <title></title>
</head>
<body class="font-default bg-gray-200 text-2xl text-black">
    {% include 'store/nav.html' %} 
    {% block content %}

    {% endblock %}
</body>
</html>