{% load static %}
<header class="sticky top-0 mb-5 z-10">
    <nav class="bg-gray-600 text-black grid grid-cols-12 py-3 items-center">
        <div id="toggle_btn" class="w-10 h-auto col-span-1 ml-4">
            <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
        <div id="toggle_search" class="col-span-2">
            <div class="bg-white grid grid-cols-4 items-center rounded-full shadow-xl p-0">
                <input id="search" type="text" class="col-span-3 text-gray-700 w-full rounded-full py-2 px-3 focus:outline-none" placeholder="Search">
                <div class="p-1">
                    <button class="col-span-1 bg-black text-white rounded-full p-2 hover:bg-gray-900 focus:outline-none w-10 h-10 grid items-center justify-items-center">
                        <svg width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div id="logo" class="col-start-6 col-end-8 justify-self-center">
            <a href="/"><h3 class="text-3xl font-black">Equipstat</h3></a>
        </div>
        <div class="col-start-9 col-end-12">
            <a href="{% url 'contact' %}" class="border-black border-r-2 pr-2">Contact</a>
            <a href="{% url 'store' %}" class="border-black border-r-2 pr-2">Store</a>
            <a href="{% url 'about' %}" class="border-black border-r-2 pr-2">About us</a>
            {% if user.is_authenticated %}
            <a href="{% url 'enlist' %}">Enlist</a>
            <h1>Hello, {{ request.user.first_name }}</h1>
            {% endif %}
        </div>
        <div id="user_cart" class="grid grid-cols-2">
            {% include 'store/dropdown.html' %}
            <div>
                <a href="{% url 'cart' %}" id="cart" class="col-start-2 bg-black text-white rounded-full p-2 hover:bg-gray-900 focus:outline-none w-10 h-10 grid items-center justify-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>
                </a>
            </div>
        </div>
    </nav>
</header>