{% extends 'store/main.html' %} 
{% block content %}
    
    <div class="grid grid-cols-12 p-5">
        <div class="card grid grid-cols-3 grid-rows-2 col-start-1 col-span-full p-3">
            <div class="grid justify-items-center items-center col-start-1 col-span-1 row-start-1 row-span-2">
                <img src="{{ oneProduct.imageURL }}" alt="{{ oneProduct.name }}">
            </div>
            <div class="grid grid-rows-6 row-span-2 col-start-2 col-span-2">
                <div class="row-start-1 row-span-1">
                    <h1 class="text-3xl font-extrabold">{{ oneProduct.name }}</h1>
                </div>
                <div class="grid grid-cols-3 row-start-2 row-span-1 items-end">
                    <div class="col-start-1 text-green-600">
                        Price: <div class="text-3xl">&#8377;{{ oneProduct.ourPrice }}</div>
                    </div>
                    <div class="col-start-2 text-red-600">
                        MRP: <div class="line-through text-3xl">&#8377;{{ oneProduct.mrp }}</div> 
                    </div>
                    <div class="col-start-3 text-2xl text-gray-600">
                        You Save {{ oneProduct.saving }}!
                    </div>
                </div>
                <div class="row-start-3 row-span-3">
                    <div>Key Features:</div>
                    <div>
                        {{ oneProduct.details }}
                    </div>
                </div>
                <div class="row-start-6 row-end-7">
                    <button class="update-cart bg-gray-900 text-white rounded focus:outline-none focus:shadow-myOutline px-4 py-2" data-product="{{ oneProduct.id }}" data-action="add">
                        <svg class="mr-2 inline fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.21 9l-4.38-6.56c-.19-.28-.51-.42-.83-.42-.32 0-.64.14-.83.43L6.79 9H2c-.55 0-1 .45-1 1 0 .09.01.18.04.27l2.54 9.27c.23.84 1 1.46 1.92 1.46h13c.92 0 1.69-.62 1.93-1.46l2.54-9.27L23 10c0-.55-.45-1-1-1h-4.79zM9 9l3-4.4L15 9H9zm3 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/></svg>
                        <span>Add to cart</span>
                    </button>
                    <span class="text-lg text-red-600 ml-2">Only {{ oneProduct.inventory }} pieces left!!</span>
                </div>
            </div>
        </div>
    </div>        

{% endblock %}