{% extends 'store/main.html' %} 
{% block content %}
    <h1>Store</h1>
    <br><br>
    {% for product in newProducts %}
    <div class="product">
        <hr>
        <img class="thumbnail" src="{{ product.imageURL }}">
        <p>Name: {{ product.name }}</p> <br>
        <p>MRP: {{ product.mrp }}</p> <br>
        <p>Our Price: {{ product.ourPrice }}</p> <br>
        <p>Stock: {{ product.inventory }}</p> <br>
        <p><a href="{{ product.slug }}">Detail View</a></p> <br>
        <hr>
    </div>
    {% endfor %}
{% endblock %}